<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Font Awesome-->
        <script src="https://kit.fontawesome.com/14ab8b126d.js" crossorigin="anonymous"></script>

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">

        <!--Stylesheet-->
        <link rel="stylesheet" href="/css/styles.css" type="text/css">

        <title>User Add Form App</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="app-navbar">
                    <div class="brand">
                        <a id = "brand" href = "/">Rakib ISP Network</a>
                    </div>
                    <div class="routes">
                        <a href="/users/user-list">Users</a>
                        <a href="/admins/admin-list">Admins</a>
                        <a href = "/admins/logout">Logout</a>
                    </div>
                </div>
            </nav>

       

    

