        
            <footer>
                <div class="app-footer">
                    <p>Copyright &#169; <%= new Date().getFullYear() %> Rakib ISP Network</p>
                </div>
  
            </footer>
        
        
        </div>
        <script src = "/javascript/index.js" type="text/javascript"></script>
    </body>
</html>