<%- include("partials/app-header") -%>

<div class="error-message">
    <div class="message">
        <h2>Bill Exists</h2>
        <a href="/users/user/<%= user._id %>">Go To User</a>
    </div>
</div>



<%- include("partials/app-footer") -%>